{:current-tab 0
 
 :manifest 
{:dependencies 
{}
 :description "Tour of Veneer features"
 :license "https://www.eclipse.org/legal/epl-v10.html"
 :name "veneer-tour"
 :url "https://kronoslang.io"
 :version "0.1"}
 :origin 
{:branch "default"
 :parents ["a300faf6ecc248d152e0ca16473ce3a09ecd1f09"]
 :service "bitbucket"
 :slug "kronoslang/veneer-tour"}
 :tabs ("tabs/draft.initial.edn" "tabs/Transpose.t3d9jawtw1aosj2.edn" "tabs/Phasor.jbfnj8trd5esa8i.edn" "tabs/Arpeggio.w0y66vnxb2qnfvy.edn" "tabs/Arpeggiator.vwa6wo5za5v55lm.edn" "tabs/Lag.lsiccf87hqwtzca.edn" "tabs/Parabolic-Wave.8pev1otzwrxrooa.edn" "tabs/PWM.19ve09z3lgfwnzk.edn" "tabs/Ping-Pong.iop6tqwisrma4g.edn" "tabs/Subdivide.sfbhlpekca3hco4.edn" "tabs/Bass-Voice.i7vlt4mn62nuy2q.edn" "tabs/Arp-Voice.85w79sae3dp5jar.edn" "tabs/Auto-Panner.4c6otllvu5jr069.edn" "tabs/Reverb.17n9ne056uq7wrg.edn" "tabs/Delay.5oxdam3nbi6v8yk.edn" "tabs/Mono-Verb.99t2cn19bb417lv.edn")}