{:draft-argument "Phasor(110) 0.002"
 :identifier "Auto-Panner"
 :identity "4c6otllvu5jr069"
 :patch
{:cables
{["7nm24tw8vqkv27j" 0] [:fixed "qof6cpbkk039kdj" 1]
 ["9o2djwb9e1ui5yj" 0] [:fixed "brdcah2rl2h8rdb" 0]
 ["bgt1apghq4ku3b2" 0] [:fixed "qof6cpbkk039kdj" 0]
 ["bgt1apghq4ku3b2" 1] [:fixed "n89xiyww4dkle27" 0]
 ["brdcah2rl2h8rdb" 0] [:fixed "7nm24tw8vqkv27j" 0]
 ["n89xiyww4dkle27" 0] [:fixed "brdcah2rl2h8rdb" 0]
 ["n89xiyww4dkle27" 1] [:fixed "9o2djwb9e1ui5yj" 0]}
 :nodes
{"7nm24tw8vqkv27j" 
{:inputs ["freq"]
 :label "Phasor($freq)"
 :outputs [""]
 :parsed [:fn "Phasor" [:tuple [:free-var "freq"]]]
 :pos [-199 -9]}
 "9o2djwb9e1ui5yj" 
{:inputs ["b"]
 :label "1 -"
 :outputs [""]
 :parsed [:infix [:float "1"] "-" [:free-var "b"]]
 :pos [155 -13]}
 "bgt1apghq4ku3b2" 
{:flip-y true
 :inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [298 -89]}
 "brdcah2rl2h8rdb" 
{:inputs ["a"]
 :label "Ping-Pong($a)"
 :outputs [""]
 :parsed [:fn "Ping-Pong" [:tuple [:free-var "a"]]]
 :pos [-47 -9]}
 "n89xiyww4dkle27" 
{:ephemeral-inputs #{"elements1" "elements2"}
 :inputs ["elements1" "elements2" "elements..."]
 :label "Vector:Cons($elements...)"
 :outputs [""]
 :parsed [:fn "Vector:Cons" [:tuple [:free-var "elements1"] [:free-var "elements2"] [:free-var "elements..."]]]
 :pos [204 94]}
 "qof6cpbkk039kdj" 
{:inputs []
 :label "(sig mod-freq) = arg"
 :outputs ["sig" "mod-freq"]
 :parsed "arg"
 :pos [-321 -80]}}
 :scale 1.338832389038885
 :scroll [0 0]}}