{:draft-argument "110 Phasor(0.1)"
 :identifier "Generators:PWM"
 :identity "19ve09z3lgfwnzk"
 :patch
{:cables
{["bzs9cgu88vusa3o" 0] [:fixed "2q7bjv8vmsyj99d" 1]
 ["bzs9cgu88vusa3o" 1] [:fixed "mdiuvla9wt9v49u" 0]
 ["ebzup1mibzzh3m5" 0] [:fixed "bzs9cgu88vusa3o" 0]
 ["ebzup1mibzzh3m5" 1] [:fixed "miamdxmgbt6s2gj" 0]
 ["ebzup1mibzzh3m5" 2] [:fixed "cuy9y6pretrgu8s" 0]
 ["mdiuvla9wt9v49u" 0] [:fixed "2q7bjv8vmsyj99d" 0]
 ["z8lbro8sj8ykm3h" 0] [:fixed "ebzup1mibzzh3m5" 0]}
 :nodes
{"2q7bjv8vmsyj99d" 
{:inputs []
 :label "(freq width) = arg"
 :outputs ["freq" "width"]
 :parsed "arg"
 :pos [-318 -148]}
 "bzs9cgu88vusa3o" 
{:inputs ["a" "b" "more..."]
 :label ">"
 :outputs [""]
 :parsed [:infix [:free-var "a"] ">" [:free-var "b"] [:free-var "more..."]]
 :pos [-74 -119]}
 "cm58dbcfcjddn2y" 
{:inputs []
 :label ";This is a simple pulse-width modulation oscillator.\n\nWe use a comparator to compare the [phasor](#2) to a supplied width parameter, and pick either negative or positive half-cycle."
 :outputs []
 :parsed [:comment "This is a simple pulse-width modulation oscillator.\n\nWe use a comparator to compare the [phasor](#2) to a supplied width parameter, and pick either negative or positive half-cycle."]
 :pos [86 85]}
 "cuy9y6pretrgu8s" 
{:color 3
 :inputs []
 :label "-0.25"
 :outputs [""]
 :parsed [:float "-0.25"]
 :pos [115 -159]}
 "ebzup1mibzzh3m5" 
{:color 3
 :inputs ["truth" "when-true" "when-false"]
 :label "Algorithm:Choose($truth $when-true $when-false)"
 :outputs [""]
 :parsed [:fn "Algorithm:Choose" [:tuple [:free-var "truth"] [:free-var "when-true"] [:free-var "when-false"]]]
 :pos [130 14]}
 "mdiuvla9wt9v49u" 
{:inputs ["freq"]
 :label "Phasor($freq)"
 :outputs [""]
 :parsed [:fn "Generators:Phasor" [:tuple [:free-var "freq"]]]
 :pos [-197 -189]}
 "miamdxmgbt6s2gj" 
{:color 3
 :inputs []
 :label "0.25"
 :outputs [""]
 :parsed [:float "0.25"]
 :pos [33 -92]}
 "z8lbro8sj8ykm3h" 
{:inputs ["sig"]
 :label "o))"
 :outputs ["thru"]
 :parsed [:playback [:free-var "sig"]]
 :pos [313 6]}}
 :scale 1.2946101885907135
 :scroll [0 0]}}