{:documentation "applies smoothing to signal"
 :draft-argument "Phasor(80) Phasor(0.1)"
 :identifier "Lag"
 :identity "lsiccf87hqwtzca"
 :patch
{:cables
{["4oo7u55s57wjhr2" 0] [:fixed "d7dyf5r7hi5vbd4" 1]
 ["4oo7u55s57wjhr2" 1] [:fixed "bsfoqa8xffmjqez" 0]
 ["bsfoqa8xffmjqez" 0] [:fixed "d7dyf5r7hi5vbd4" 0]
 ["bsfoqa8xffmjqez" 1] [:fixed "gibdfldf4hc8d20" 0]
 ["d63lmoedzyv6tmy" 0] [:fixed "gibdfldf4hc8d20" 0]
 ["gibdfldf4hc8d20" 0] [:fixed "yv2jw18d6w9br4" 0]
 ["yv2jw18d6w9br4" 0] [:fixed "gibdfldf4hc8d20" 0]
 ["yv2jw18d6w9br4" 1] [:fixed "4oo7u55s57wjhr2" 0]}
 :nodes
{"4oo7u55s57wjhr2" 
{:inputs ["coef" "in2"]
 :label "($coef * $in2)"
 :outputs [""]
 :parsed [:infix [:free-var "coef"] "*" [:free-var "in2"]]
 :pos [-147 -21]
 }
 "bsfoqa8xffmjqez" 
{:inputs ["sig" "state"]
 :label "($sig - $state)"
 :outputs [""]
 :parsed [:infix [:free-var "sig"] "-" [:free-var "state"]]
 :pos [-236 -88]
 :selected true}
 "d63lmoedzyv6tmy" 
{:inputs ["sig"]
 :label "o))"
 :outputs ["thru"]
 :parsed [:playback [:free-var "sig"]]
 :pos [73 191]
 }
 "d7dyf5r7hi5vbd4" 
{:inputs []
 :label "(sig coef) = arg"
 :outputs ["sig" "coef"]
 :parsed "arg"
 :pos [-397 -42]
 }
 "gibdfldf4hc8d20" 
{:inputs ["sig~"]
 :label "z-1($sig~)"
 :outputs [""]
 :parsed [:fn "z-1" [:tuple [:free-var "sig~"]]]
 :pos [-124 185]
 }
 "yv2jw18d6w9br4" 
{:inputs ["state" "in2"]
 :label "($state + $in2)"
 :outputs [""]
 :parsed [:infix [:free-var "state"] "+" [:free-var "in2"]]
 :pos [-113 63]
 }}
 :scale 1
 :scroll [0 0]}}