{:documentation "computes frequency in hertz based on a MIDI note number and a reference tuning"
 :draft-argument "60 440"
 :identifier "Midi->Freq"
 :identity "30sadx3d4m7xvyk"
 :patch
{:cables
{["aemx1n2ou6bi8pf" 0] [:fixed "ccg9lup1l2frbi" 0]
 ["ccg9lup1l2frbi" 0] [:fixed "muv50hdtuna822c" 0]
 ["frsdirtexcfqy7p" 0] [:fixed "b4eb140127douia" 0]
 ["frsdirtexcfqy7p" 1] [:fixed "aemx1n2ou6bi8pf" 0]
 ["hvesaj0xjzo24yb" 0] [:fixed "muv50hdtuna822c" 1]
 ["hvesaj0xjzo24yb" 1] [:fixed "frsdirtexcfqy7p" 0]}
 :nodes
{"aemx1n2ou6bi8pf" 
{:inputs ["a"]
 :label "/ 12"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:float "12"]]
 :pos [14 -115]}
 "b4eb140127douia" 
{:inputs []
 :label "2"
 :outputs [""]
 :parsed [:float "2"]
 :pos [19 -38]}
 "ccg9lup1l2frbi" 
{:inputs ["a"]
 :label "- 69"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "-" [:float "69"]]
 :pos [-112 -115]}
 "frsdirtexcfqy7p" 
{:inputs ["a" "b"]
 :label "Math:Pow($a $b)"
 :outputs [""]
 :parsed [:fn "Math:Pow" [:tuple [:free-var "a"] [:free-var "b"]]]
 :pos [160 -79]}
 "hvesaj0xjzo24yb" 
{:inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [218 106]
 :selected true}
 "muv50hdtuna822c" 
{:inputs []
 :label "(note-number a4) = arg"
 :outputs ["note-number" "a4"]
 :parsed "arg"
 :pos [-282 26]}}
 :scale 1.522803164613181
 :scroll [0 0]}}