{:draft-argument "sig rt60"
 :identifier "Mono-Verb"
 :identity "99t2cn19bb417lv"
 :patch
{:cables
{["6pewh807ebdm1y7" 0] [:fixed "fovycyja7hcdb0" 0]
 ["6pewh807ebdm1y7" 2] [:fixed "aa6a4va2t4x5cag" 0]
 ["aa6a4va2t4x5cag" 0] [:fixed "fovycyja7hcdb0" 1]
 ["aa6a4va2t4x5cag" 1] [:fixed "noa69bhishhcb7p" 0]
 ["do5u321cp3ujz3s" 0] [:fixed "u6bc2pvrryxot6o" 0]
 ["do5u321cp3ujz3s" 1] [:fixed "zpux5i59dohbf5y" 0]
 ["g75up5zo5xk4p7" 0] [:fixed "x788blba8ccjl" 0]
 ["g75up5zo5xk4p7" 1] [:fixed "h7u833jic9ucvfq" 0]
 ["g75up5zo5xk4p7" 2] [:fixed "fovycyja7hcdb0" 2]
 ["h7u833jic9ucvfq" 0] [:fixed "fovycyja7hcdb0" 3]
 ["noa69bhishhcb7p" 0] [:fixed "fovycyja7hcdb0" 0]
 ["zpux5i59dohbf5y" 0] [:fixed "6pewh807ebdm1y7" 0]
 ["zpux5i59dohbf5y" 1] [:fixed "g75up5zo5xk4p7" 0]}
 :nodes
{"6pewh807ebdm1y7" 
{:inputs ["sig" "len" "rt60"]
 :label "Delay($sig $len Math:Pow(0.001 $len / $rt60))"
 :outputs [""]
 :parsed [:fn "Delay" [:tuple [:free-var "sig"] [:free-var "len"] [:fn "Math:Pow" [:tuple [:float "0.001"] [:infix [:free-var "len"] "/" [:free-var "rt60"]]]]]]
 :pos [-500 -237]
 :selected true}
 "aa6a4va2t4x5cag" 
{:inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [-228 -372]
 }
 "do5u321cp3ujz3s" 
{:ephemeral-inputs #{"set1"}
 :inputs ["func" "set1" "set..."]
 :label "Algorithm:Reduce($func $set...)"
 :outputs [""]
 :parsed [:fn "Algorithm:Reduce" [:tuple [:free-var "func"] [:free-var "set1"] [:free-var "set..."]]]
 :pos [198 -262]
 }
 "fovycyja7hcdb0" 
{:inputs []
 :label "(sig rt60 d0 dmul) = arg"
 :outputs ["sig" "rt60" "d0" "dmul"]
 :parsed "arg"
 :pos [-532 -609]
 }
 "g75up5zo5xk4p7" 
{:inputs ["count" "iterator" "seed"]
 :label "Algorithm:Expand($count $iterator $seed)"
 :outputs [""]
 :parsed [:fn "Algorithm:Expand" [:tuple [:free-var "count"] [:free-var "iterator"] [:free-var "seed"]]]
 :pos [-174 -544]
 }
 "h7u833jic9ucvfq" 
{:inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [-375 -642]
 }
 "noa69bhishhcb7p" 
{:inputs ["sig"]
 :label "Rate-of($sig)"
 :outputs [""]
 :parsed [:fn "Rate-of" [:tuple [:free-var "sig"]]]
 :pos [-344 -469]
 }
 "u6bc2pvrryxot6o" 
{:inputs ["a" "b" "more..."]
 :label "+"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:free-var "b"] [:free-var "more..."]]
 :pos [82 -154]
 }
 "x788blba8ccjl" 
{:inputs []
 :label "#8"
 :outputs [""]
 :parsed [:invariant "8"]
 :pos [-277 -548]
 }
 "zpux5i59dohbf5y" 
{:ephemeral-inputs #{"set1"}
 :inputs ["func" "set1" "set..."]
 :label "Algorithm:Map($func $set...)"
 :outputs [""]
 :parsed [:fn "Algorithm:Map" [:tuple [:free-var "func"] [:free-var "set1"] [:free-var "set..."]]]
 :pos [92 -348]
 }}}}