{:draft-argument "1"
 :identifier "Parabolic-Wave"
 :identity "8pev1otzwrxrooa"
 :patch
{:cables
{["2h6kw3ltllc586l" 0] [:fixed "khtag0at6be2pfh" 0]
 ["2h6kw3ltllc586l" 1] [:fixed "khtag0at6be2pfh" 0]
 ["8pm69st85s011c4" 0] [:fixed "zbb4crogb1j8sdg" 0]
 ["9qj344tnq54d75n" 0] [:fixed "8pm69st85s011c4" 0]
 ["edp8hktjh8ltei0" 0] [:fixed "ikg50jm52pwxmtk" 0]
 ["ikg50jm52pwxmtk" 0] [:fixed "2h6kw3ltllc586l" 0]
 ["khtag0at6be2pfh" 0] [:fixed "9qj344tnq54d75n" 0]}
 :nodes
{"2h6kw3ltllc586l" 
{:inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [11 -165]
 }
 "8pm69st85s011c4" 
{:inputs ["freq"]
 :label "Phasor($freq)"
 :outputs [""]
 :parsed [:fn "Phasor" [:tuple [:free-var "freq"]]]
 :pos [-298 -284]
 }
 "9qj344tnq54d75n" 
{:inputs ["a"]
 :label "* 2"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:float "2"]]
 :pos [-215 -165]
 }
 "edp8hktjh8ltei0" 
{:inputs ["sig"]
 :label "o))"
 :outputs ["thru"]
 :parsed [:playback [:free-var "sig"]]
 :pos [133 -255]
 }
 "ikg50jm52pwxmtk" 
{:inputs ["a"]
 :label "- 0.5"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "-" [:float "0.5"]]
 :pos [88 -119]
 }
 "khtag0at6be2pfh" 
{:inputs ["a"]
 :label "- 1"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "-" [:float "1"]]
 :pos [-102 -165]
 }
 "zbb4crogb1j8sdg" 
{:eval :destructure
 :inputs []
 :label "(freq) = arg"
 :outputs ["freq"]
 :parsed "arg"
 :pos [-414 -279]
 }}
 :scale 1
 :scroll [0 0]}}