{:documentation "Increases linearly from 0 to 1, and wraps back to 0. This occurs 'freq' times per second at the audio rate."
 :draft-argument "440"
 :identifier "Phasor"
 :identity "jbfnj8trd5esa8i"
 :patch
{:cables
{["2q9lpzo651xq72" 0] [:fixed "wqanes0pc21xvsy" 0]
 ["2q9lpzo651xq72" 1] [:fixed "ajdea0boi6956k8" 0]
 ["ajdea0boi6956k8" 0] [:fixed "dkiuofz795bgiea" 0]
 ["dkiuofz795bgiea" 0] [:fixed "2q9lpzo651xq72" 0]
 ["g20yedveocgvlvy" 0] [:fixed "ajdea0boi6956k8" 0]
 ["kjh3qi6d1w5w7zz" 0] [:fixed "ja45r6d488giop" 0]
 ["kjh3qi6d1w5w7zz" 1] [:fixed "lxyk22kq4gzgksk" 0]
 ["wqanes0pc21xvsy" 0] [:fixed "kjh3qi6d1w5w7zz" 0]}
 :nodes
{"2q9lpzo651xq72" 
{:inputs ["a" "b" "more..."]
 :label "+"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:free-var "b"] [:free-var "more..."]]
 :pos [-52 28]
 }
 "81ya0grq22e2hs5" 
{:inputs []
 :label "; This is a cyclic connection. Each sample\nis the sum of the previous output and the fraction frequency / samplerate."
 :outputs []
 :parsed [:comment "This is a cyclic connection. Each sample\nis the sum of the previous output and the fraction frequency / samplerate."]
 :pos [65 148]
 }
 "ajdea0boi6956k8" 
{:inputs ["sig~"]
 :label "z-1($sig~)"
 :outputs [""]
 :parsed [:fn "z-1" [:tuple [:free-var "sig~"]]]
 :pos [215 57]
 }
 "dkiuofz795bgiea" 
{:inputs ["x"]
 :label "Fraction($x)"
 :outputs [""]
 :parsed [:fn "Fraction" [:tuple [:free-var "x"]]]
 :pos [77 69]
 }
 "g20yedveocgvlvy" 
{:inputs ["sig"]
 :label "o))"
 :outputs ["thru"]
 :parsed [:playback [:free-var "sig"]]
 :pos [364 120]
 }
 "ja45r6d488giop" 
{:color 3
 :inputs []
 :label "freq = arg"
 :outputs ["freq"]
 :parsed "arg"
 :pos [-407 -75]
 }
 "kjh3qi6d1w5w7zz" 
{:color 3
 :inputs ["a" "b" "more..."]
 :label "/"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:free-var "b"] [:free-var "more..."]]
 :pos [-294 -75]
 }
 "lxyk22kq4gzgksk" 
{:color 3
 :inputs []
 :label "Gen:Rate()"
 :outputs [""]
 :parsed [:fn "Gen:Rate" [:tuple]]
 :pos [-407 -184]
 }
 "n1ecu32t3u2lezq" 
{:color 3
 :inputs []
 :label "; divide frequency by audio rate, and upsample to audio signal"
 :outputs []
 :parsed [:comment "divide frequency by audio rate, and upsample to audio signal"]
 :pos [-110 -232]
 }
 "usbn8kcw3aked9z" 
{:inputs []
 :label "; The actual length of the z-1 unit delay is determined by the incoming signal rate, which is upsampled to audi ohere."
 :outputs []
 :parsed [:comment "The actual length of the z-1 unit delay is determined by the incoming signal rate, which is upsampled to audi ohere."]
 :pos [273 -109]
 }
 "wqanes0pc21xvsy" 
{:inputs ["sig"]
 :label "Gen:Signal($sig)"
 :outputs [""]
 :parsed [:fn "Gen:Signal" [:tuple [:free-var "sig"]]]
 :pos [-168 -35]
 }}
 :scale 1.0399641967921591
 :scroll [0 0]}}