{:draft-argument "110 Phasor(0.1)"
 :identifier "PWM"
 :identity "19ve09z3lgfwnzk"
 :patch
{:cables
{["bzs9cgu88vusa3o" 0] [:fixed "2q7bjv8vmsyj99d" 1]
 ["bzs9cgu88vusa3o" 1] [:fixed "mdiuvla9wt9v49u" 0]
 ["ebzup1mibzzh3m5" 0] [:fixed "bzs9cgu88vusa3o" 0]
 ["ebzup1mibzzh3m5" 1] [:fixed "miamdxmgbt6s2gj" 0]
 ["ebzup1mibzzh3m5" 2] [:fixed "cuy9y6pretrgu8s" 0]
 ["mdiuvla9wt9v49u" 0] [:fixed "2q7bjv8vmsyj99d" 0]
 ["z8lbro8sj8ykm3h" 0] [:fixed "ebzup1mibzzh3m5" 0]}
 :nodes
{"2q7bjv8vmsyj99d" 
{:inputs []
 :label "(freq width) = arg"
 :outputs ["freq" "width"]
 :parsed "arg"
 :pos [-510 -427]
 }
 "bzs9cgu88vusa3o" 
{:inputs ["a" "b" "more..."]
 :label ">"
 :outputs [""]
 :parsed [:infix [:free-var "a"] ">" [:free-var "b"] [:free-var "more..."]]
 :pos [-274 -357]
 }
 "cuy9y6pretrgu8s" 
{:inputs []
 :label "-0.5"
 :outputs [""]
 :parsed [:float "-0.5"]
 :pos [-53 -353]
 :selected true}
 "ebzup1mibzzh3m5" 
{:inputs ["truth" "when-true" "when-false"]
 :label "Algorithm:Choose($truth $when-true $when-false)"
 :outputs [""]
 :parsed [:fn "Algorithm:Choose" [:tuple [:free-var "truth"] [:free-var "when-true"] [:free-var "when-false"]]]
 :pos [-70 -224]
 }
 "mdiuvla9wt9v49u" 
{:inputs ["freq"]
 :label "Phasor($freq)"
 :outputs [""]
 :parsed [:fn "Phasor" [:tuple [:free-var "freq"]]]
 :pos [-397 -427]
 }
 "miamdxmgbt6s2gj" 
{:inputs []
 :label "0.5"
 :outputs [""]
 :parsed [:float "0.5"]
 :pos [-153 -353]
 }
 "z8lbro8sj8ykm3h" 
{:inputs ["sig"]
 :label "o))"
 :outputs ["thru"]
 :parsed [:playback [:free-var "sig"]]
 :pos [113 -232]
 }}}}