{:documentation "Transposes 'seq'uence by 'transp'osition"
 :draft-argument "[0 1 2 3] 12"
 :identifier "Sequencer:Transpose"
 :identity "t3d9jawtw1aosj2"
 :patch
{:cables
{["97tcu5fzbafbmvt" 0] [:fixed "j0ccztw59ahvd41" 0]
 ["97tcu5fzbafbmvt" 1] [:fixed "0af9soh5rrd47rc" 0]
 ["j0ccztw59ahvd41" 1] [:fixed "0af9soh5rrd47rc" 1]}
 :nodes
{"0af9soh5rrd47rc" 
{:inputs []
 :label "(seq transp) = arg"
 :outputs ["seq" "transp"]
 :parsed "arg"
 :pos [-206 -48]}
 "97tcu5fzbafbmvt" 
{:ephemeral-inputs #{"set1"}
 :inputs ["func" "set1" "set..."]
 :label "Algorithm:Map($func $set...)"
 :outputs [""]
 :parsed [:fn "Algorithm:Map" [:tuple [:free-var "func"] [:free-var "set1"] [:free-var "set..."]]]
 :pos [71 -33]}
 "a3hrdgodbvjhck8" 
{:inputs []
 :label ";Map is a *higher order function* that applies\na *function parameter* to a sequence of values. \n\nHere, the function parameter says: \"add transp\""
 :outputs []
 :parsed [:comment "Map is a *higher order function* that applies\na *function parameter* to a sequence of values. \n\nHere, the function parameter says: \"add transp\""]
 :pos [-44 -273]
 :selected true}
 "a58bvoh6tgpud9e" 
{:inputs []
 :label "; this is a partially applied node; notice the missing connection.\n\n\nits output is a unary function, with the connected inputs 'plugged in'\nand the disconnected inputs variable."
 :outputs []
 :parsed [:comment "this is a partially applied node; notice the missing connection.\n\n\nits output is a unary function, with the connected inputs 'plugged in'\nand the disconnected inputs variable."]
 :pos [-228 105]}
 "j0ccztw59ahvd41" 
{:inputs ["a" "b" "more..."]
 :label "+"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:free-var "b"] [:free-var "more..."]]
 :pos [-58 34]}}}}