{:identifier "Sequencer:Subdivide"
 :identity "sfbhlpekca3hco4"
 :patch
{:cables
{["h533y0ti6542h63" 0] [:fixed "26kctj6m5yz4nd" 0]
 ["h533y0ti6542h63" 1] [:fixed "26kctj6m5yz4nd" 1]
 ["m6rwx9vcdepnnr" 0] [:fixed "h533y0ti6542h63" 0]}
 :nodes
{"26kctj6m5yz4nd" 
{:eval :destructure
 :inputs []
 :label "(a in2) = arg"
 :outputs ["a" "in2"]
 :parsed "arg"
 :pos [-214 -89]}
 "a67ut3qe9ukc9pm" 
{:inputs []
 :label "; Make a [phasor](#2) signal go faster by a chosen factor"
 :outputs []
 :parsed [:comment "Make a [phasor](#2) signal go faster by a chosen factor"]
 :pos [108 -122]
 :selected true}
 "h533y0ti6542h63" 
{:inputs ["a" "in2"]
 :label "($a * $in2)"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "in2"]]
 :pos [-64 111]}
 "m6rwx9vcdepnnr" 
{:inputs ["x"]
 :label "Fraction($x)"
 :outputs [""]
 :parsed [:fn "Fraction" [:tuple [:free-var "x"]]]
 :pos [69 111]}}
 :scale 1.6274747160620755
 :scroll [0 0]}}