{:identifier "Subdivide"
 :identity "sfbhlpekca3hco4"
 :patch
{:cables
{["h533y0ti6542h63" 0] [:fixed "26kctj6m5yz4nd" 0]
 ["h533y0ti6542h63" 1] [:fixed "26kctj6m5yz4nd" 1]
 ["m6rwx9vcdepnnr" 0] [:fixed "h533y0ti6542h63" 0]}
 :nodes
{"26kctj6m5yz4nd" 
{:eval :destructure
 :inputs []
 :label "(a in2) = arg"
 :outputs ["a" "in2"]
 :parsed "arg"
 :pos [-215 -175]}
 "h533y0ti6542h63" 
{:inputs ["a" "in2"]
 :label "($a * $in2)"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "in2"]]
 :pos [-65 25]
 :selected true}
 "m6rwx9vcdepnnr" 
{:inputs ["x"]
 :label "Fraction($x)"
 :outputs [""]
 :parsed [:fn "Fraction" [:tuple [:free-var "x"]]]
 :pos [68 25]
 :selected true}}
 :scale 1.6274747160620755
 :scroll [0 0]}}