{:draft-argument "1000 * Gen:Sin(0.1)"
 :identifier "Synths:Bass-Voice"
 :identity "i7vlt4mn62nuy2q"
 :patch
{:cables
{["0ce7at3hp2jhcgt" 0] [:fixed "wpe83va08cd9dpr" 0]
 ["0ce7at3hp2jhcgt" 1] [:fixed "mla2nj287a1vv4x" 0]
 ["1k75wcdzwfkuqpv" 0] [:fixed "yo5bpu5a9chj9ew" 0]
 ["3f15whwxihu0c24" 0] [:fixed "45p9ywsvt2xcqxm" 0]
 ["3f15whwxihu0c24" 1] [:fixed "45p9ywsvt2xcqxm" 0]
 ["3f15whwxihu0c24" 2] [:fixed "45p9ywsvt2xcqxm" 0]
 ["3f15whwxihu0c24" 3] [:fixed "45p9ywsvt2xcqxm" 0]
 ["3f15whwxihu0c24" 4] [:fixed "9ylimte805h9pa8" 0]
 ["45p9ywsvt2xcqxm" 0] [:fixed "1k75wcdzwfkuqpv" 0]
 ["6jw8vp6je1e1bp" 0] [:fixed "9n6lwheh74q281" 0]
 ["cq66rl5kju1je44" 0] [:fixed "hccvkfj44mfdh5z" 0]
 ["dqw7d3zds9xjjhg" 0] [:fixed "bht48z5l8wt1mle" 0]
 ["dqw7d3zds9xjjhg" 1] [:fixed "odh5icwjmcez9wr" 0]
 ["fkb4hss14lm28g4" 0] [:fixed "0ce7at3hp2jhcgt" 0]
 ["fkb4hss14lm28g4" 1] [:fixed "sixncu0gz1mkqm0" 0]
 ["hccvkfj44mfdh5z" 0] [:fixed "fkb4hss14lm28g4" 0]
 ["hccvkfj44mfdh5z" 1] [:fixed "sixncu0gz1mkqm0" 0]
 ["mjwvf8cpq2r706i" 0] [:fixed "dqw7d3zds9xjjhg" 0]
 ["mla2nj287a1vv4x" 0] [:fixed "dqw7d3zds9xjjhg" 0]
 ["mla2nj287a1vv4x" 1] [:fixed "6jw8vp6je1e1bp" 0]
 ["sixncu0gz1mkqm0" 0] [:fixed "3f15whwxihu0c24" 0]
 ["wpe83va08cd9dpr" 0] [:fixed "mjwvf8cpq2r706i" 0]
 ["wpe83va08cd9dpr" 1] [:fixed "6jw8vp6je1e1bp" 0]}
 :nodes
{"0ce7at3hp2jhcgt" 
{:ephemeral-inputs #{"elements1" "elements2"}
 :inputs ["elements1" "elements2" "elements..."]
 :label "Vector:Cons($elements...)"
 :outputs [""]
 :parsed [:fn "Vector:Cons" [:tuple [:free-var "elements1"] [:free-var "elements2"] [:free-var "elements..."]]]
 :pos [255 -10]}
 "1k75wcdzwfkuqpv" 
{:color 3
 :inputs ["freq"]
 :label "Phasor($freq)"
 :outputs [""]
 :parsed [:fn "Generators:Phasor" [:tuple [:free-var "freq"]]]
 :pos [-370 163]}
 "3f15whwxihu0c24" 
{:color 3
 :ephemeral-inputs #{"more1" "more2" "more3"}
 :inputs ["a" "b" "more1" "more2" "more3" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more1"] [:free-var "more2"] [:free-var "more3"] [:free-var "more..."]]
 :pos [-7 243]}
 "45p9ywsvt2xcqxm" 
{:color 3
 :inputs ["a"]
 :label "Ping-Pong($a)"
 :outputs [""]
 :parsed [:fn "Generators:Ping-Pong" [:tuple [:free-var "a"]]]
 :pos [-194 182]}
 "6jw8vp6je1e1bp" 
{:inputs ["freq"]
 :label "Phasor($freq)"
 :outputs [""]
 :parsed [:fn "Generators:Phasor" [:tuple [:free-var "freq"]]]
 :pos [-54 -138]}
 "9n6lwheh74q281" 
{:inputs []
 :label "0.1"
 :outputs [""]
 :parsed [:float "0.1"]
 :pos [-188 -173]}
 "9rj388o62bkft0a" 
{:inputs []
 :label ";Modulate pulse width by a 0.1Hz [phasor](#2)"
 :outputs []
 :parsed [:comment "Modulate pulse width by a 0.1Hz [phasor](#2)"]
 :pos [-103 -260]}
 "9ylimte805h9pa8" 
{:color 3
 :inputs []
 :label "0.8"
 :outputs [""]
 :parsed [:float "0.8"]
 :pos [-44 104]}
 "asr2evkhxa5gf17" 
{:color 4
 :inputs []
 :label ";left"
 :outputs []
 :parsed [:comment "left"]
 :pos [107 -156]}
 "bht48z5l8wt1mle" 
{:eval :destructure
 :inputs []
 :label "freq = arg"
 :outputs ["freq"]
 :parsed "arg"
 :pos [-513 -50]}
 "cd4dimzdxk3efmc" 
{:inputs []
 :label ";Construct a 2-element vector for stereo output"
 :outputs []
 :parsed [:comment "Construct a 2-element vector for stereo output"]
 :pos [406 253]}
 "cq66rl5kju1je44" 
{:inputs ["sig"]
 :label "o))"
 :outputs ["thru"]
 :parsed [:playback [:free-var "sig"]]
 :pos [447 364]}
 "dqw7d3zds9xjjhg" 
{:inputs ["sig" "coef"]
 :label "Lag($sig $coef)"
 :outputs [""]
 :parsed [:fn "Generators:Lag" [:tuple [:free-var "sig"] [:free-var "coef"]]]
 :pos [-207 -17]}
 "fkb4hss14lm28g4" 
{:color 3
 :flip-y true
 :inputs ["sig" "coef"]
 :label "Lag($sig $coef)"
 :outputs [""]
 :parsed [:fn "Generators:Lag" [:tuple [:free-var "sig"] [:free-var "coef"]]]
 :pos [358 -10]}
 "hccvkfj44mfdh5z" 
{:color 3
 :flip-y true
 :inputs ["sig" "coef"]
 :label "Lag($sig $coef)"
 :outputs [""]
 :parsed [:fn "Generators:Lag" [:tuple [:free-var "sig"] [:free-var "coef"]]]
 :pos [452 -10]}
 "mjwvf8cpq2r706i" 
{:inputs ["a"]
 :label "* 1.01"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:float "1.01"]]
 :pos [-61 15]}
 "mla2nj287a1vv4x" 
{:color 4
 :inputs ["freq" "width"]
 :label "PWM($freq $width)"
 :outputs [""]
 :parsed [:fn "Generators:PWM" [:tuple [:free-var "freq"] [:free-var "width"]]]
 :pos [25 -69]}
 "odh5icwjmcez9wr" 
{:inputs []
 :label "0.0032"
 :outputs [""]
 :parsed [:float "0.0015"]
 :pos [-395 -197]}
 "pyh4nwcq148fd2l" 
{:color 3
 :inputs []
 :label ";Cascade of two [lag](#5) filters driven by a slow ping-pong modulation, creating variable timbre."
 :outputs []
 :parsed [:comment "Cascade of two [lag](#5) filters driven by a slow ping-pong modulation, creating variable timbre."]
 :pos [-320 257]}
 "sc8u6ijb2jjebkg" 
{:inputs []
 :label ";portamento and detune the right channel"
 :outputs []
 :parsed [:comment "portamento and detune the right channel"]
 :pos [-363 35]}
 "sixncu0gz1mkqm0" 
{:color 3
 :inputs ["a"]
 :label "+ 0.01"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:number-widget :float "0c931jzm581nuzu" "0.104" ""]]
 :pos [238 120]}
 "w4l5zsb0tdvj60h" 
{:color 2
 :inputs []
 :label ";right"
 :outputs []
 :parsed [:comment "right"]
 :pos [106 58]}
 "wpe83va08cd9dpr" 
{:color 2
 :inputs ["freq" "width"]
 :label "PWM($freq $width)"
 :outputs [""]
 :parsed [:fn "Generators:PWM" [:tuple [:free-var "freq"] [:free-var "width"]]]
 :pos [101 3]}
 "xuqp69fwe1g2ar0" 
{:inputs []
 :label ";## the Bass Voice ##\n\n\nStereo-detuned, thick PWM synth\nwith portamento."
 :outputs []
 :parsed [:comment "## the Bass Voice ##\n\n\nStereo-detuned, thick PWM synth\nwith portamento."]
 :pos [387 -249]}
 "yo5bpu5a9chj9ew" 
{:color 3
 :inputs []
 :label "0.03"
 :outputs [""]
 :parsed [:float "0.03"]
 :pos [-497 163]}}
 :scale 0.9642667934775587
 :scroll [0 0]}}
